.start-guide-hero {
  border: 1px solid rgba(var(--neutral-0), 0.05);
  border-radius: 12px;
  @include min-width(540px) {
    border-radius: 40px;
    padding: 8px 8px 8px 32px;
  }
  padding: 8px;
  background-color: rgba(var(--neutral-0), 0.05);
}

.what-expect {
  background-color: rgb(var(--neutral-0));
  .left-side {
    position: relative;
    .expect-two {
      position: absolute;
      bottom: -6%;
      left: 4%;
      box-shadow: 0px 6px 30px 0px rgba(0, 0, 0, 0.04);
      @include min-width(1600px) {
        left: -14%;
      }
    }
  }
}
.nav.nav-tabs {
  border-bottom: none;
  .nav-item {
    .nav-link {
      border: none;
      padding: 0;
      font-weight: 500;
      color: rgb(var(--neutral-700));
      &.secondary {
        color: rgb(var(--neutral-0));
      }
      &.secondary.active {
        color: rgb(var(--secondary));
        border-bottom: 2px solid rgb(var(--secondary));
      }
      &.active {
        background-color: transparent;
        border-bottom: 2px solid rgb(var(--primary));
        color: rgb(var(--primary));
      }
    }
  }
}

.start-guide {
  background-color: rgba(var(--primary), 0.05);
  padding: 20px;
  border-radius: 8px;
  border: 1px solid rgb(var(--neutral-30));
  @include min-width(992px) {
    padding: 40px;
  }
}

// trade guide
.trade-guide {
  .accordion-item {
    border: 1px solid rgb(var(--neutral-30));
    box-shadow: none;
    border-radius: 8px !important;
    padding: 8px;
    &:focus {
      box-shadow: none;
    }
  }

  .accordion-item:first-of-type {
    box-shadow: none;
  }
  .accordion-item:last-of-type {
    box-shadow: none;
  }
  .accordion-button:not(.collapsed) {
    color: rgb(var(--neutral-700));
    box-shadow: none;
    &::after {
      transform: rotate(180deg);
    }
  }
  .accordion-button.collapsed::after {
    transform: rotate(0deg);
  }
  .accordion-body {
    padding: 8px;
    @include min-width(992px) {
      padding: 16px;
    }
    @include min-width(1200px) {
      padding: 24px;
    }
  }
  .accordion-button {
    background-color: rgba(var(--primary), 0.05);
    color: rgb(var(--neutral-700));
    padding: 12px;
    border-radius: 8px !important;
    @include min-width(1200px) {
      padding: 16px 24px;
      font-size: 18px;
    }
    font-weight: 500;
    &:focus {
      box-shadow: none;
    }
  }
}
