.center-heading {
  max-width: 564px;
  margin: 0 auto;
  text-align: center;
}

.search-box {
  display: flex;
  padding: 4px 4px 4px 16px;
  @include min-width(992px) {
    padding: 4px 4px 4px 28px;
  }
  align-items: center;
  gap: 16px;
  border-radius: 30px;
  border: 1px solid rgb(var(--neutral-30));
  background: rgba(var(--primary), 0.05);
  input {
    width: 100%;
    border: none;
    background: transparent;
    &:focus {
      outline: none;
    }
  }
  button {
    flex-shrink: 0;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: rgb(var(--primary));
    font-size: 1.2rem;
    color: rgb(var(--neutral-0));
  }
}

.trusted-badge {
  background-color: rgba(var(--tertiary), 0.1);
  border: 1px solid rgb(var(--neutral-30));
  border-radius: 8px;
  padding: 12px;
}
.not-trusted-badge {
  background-color: rgba($color: #ff0b0b, $alpha: 0.1);
  border: 1px solid rgb(var(--neutral-30));
  border-radius: 8px;
  padding: 12px;
  color: #ff0b0b;
}
